/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color0:#574AE8;
  --color1:#3EA1DB;
  --color2:#F9F9F9;
  --color3:#FFFFFF;
  --color4:#717171;
  --color5:#1A202C;
  --fonte0: 'Lexend Deca', sans-serif;
  --Fonte1: 'Inter', sans-serif;
}

body{
  max-width: 980px;
  width: 100vw;
  background: var(--color2);
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lexend Deca', sans-serif;
}

/* Header */
#header{
  background: linear-gradient(88.27deg, var(--color0) 0%, var(--color1) 100%);
  width: 100vw;
  height: 250px;
}

.info-header{
  color: var(--color3);
  display: flex;
}


.title{
  display:flex;
  color: var(--color3);
  font-family: var(--fonte0);
  font-size: 18px;
  line-height: 4;
  padding: 20px 250px;
} 

.blog{
  position:absolute;
  top: 41px;
  left: 1090px;
  color: var(--color3);
  font-family: var(--fonte0);
  font-size: 28px;
  line-height: 4;
} 


.pesquisa{
  position: absolute;
  width: 900px;
  height: 50px;
  top: 141px;
  left: 250px;
  border-radius: 5px;
  
}
 
input {
  position: absolute;
  width: 850px;
  height: 49px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.3);
  border:transparent;
  border-radius: 0 5px 5px 0;
}

input::placeholder {
  color: var(--color2);
}

 .button {
  height: 49px;
  width: 50px;  
  top: 0; 
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  border: transparent;
  border-radius: 5px 0 0 5px;

}

.search_blog{
  position: absolute;
  width: 154px;
  height: 22px;
  top: 155px;
  left: 310px;
  color: var(--color4);
}

.date{
  position: absolute;
  padding: 15px 15px;
  font-family: var(--fonte0);
  color: var(--color4);
  font-size: 15px; 
}

.heart{
  padding-left: 850px;
  padding-top: 20px;
}


.news{
  position: absolute;
  padding: 10px 15px;
  font-family: var(--fonte0);
  color: var(--color5);
  font-weight: bold;
}

.content{
  padding: 60px 15px;
  font-family: var(--fonte0);
  color: var(--color4);
  line-height: 25px;
}

.container_post1{
  position: absolute;
  width: 900px;
  height: 170px;
  top: 300px;
  left: 250px;
  background: var(--color3);
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 5px;
}

.container_post2{
  position: absolute;
  width: 900px;
  height: 210px;
  top: 530px;
  left: 250px;
  background: var(--color3);
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 5px;
}

.container_post3{
  position: absolute;
  width: 900px;
  height: 160px;
  top: 800px;
  left: 250px;
  background: var(--color3);
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 5px;
}

.container_post4{
  position: absolute;
  width: 900px;
  height: 210px;
  top: 1020px;
  left: 250px;
  background: var(--color3);
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
  header input {
    height: 40px;
  }

  .box {
    gap: 10px;
  }

  .box .date {
    font-size: 1.4rem;
  }
  .box .title {
    font-size: 1.8rem;
    line-height: 2.25rem;
  }
  .box .description {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
}